/* NAVBAR BLOG */
.blog_second-column .blog-entry-header .blog-entry-title {
    padding-left: 4rem;
}

.blog-entry .blog-entry-content {
        padding-left: 4rem;
}

.blog_second-column .blog-entry-footer .read-more {
    padding-left: 5rem;
}

#navbarMenuHeroA a.navbar-item,
#navbarMenuHeroA a.navbar-item.is-active {
    color: #000000;
}

a.navbar-item:hover {
    background-color: rgb(59 69 77 / 51%);
}

/* HERO SECTION BLOG */
.hero.blog_hero-section {
    background-color: #f4f3f3;
    background-image: linear-gradient(180deg, #1118216b 0%, #ffffff 84%);
    height: 100vh;
}

.hero.blog_hero-section:before {
    background: none;
}

.hero .hero-body .title {
    color: #4a4a4a;
}

img.splash {
    position: absolute;
    right: -10rem;
    top: 20rem;
    opacity: 0.8;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 400px;
    height: 400px;
}

/* BLOG */
.blog-container .column {
    width: 100%;
}

.columns.blog-container {
    margin-top: 1rem;
}

.blog-entry {
    display: flex;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 3rem;

    box-shadow: 0 6px 19px rgb(22 10 28 / 9%);
    -webkit-box-shadow: 0 6px 19px rgb(22 10 28 / 9%);
    -moz-box-shadow: 0 6px 19px rgba(22, 10, 28, 0.09);

    -moz-border-radius: 13px;

    /* min-width: 500px; */
    max-width: 500px;
    padding: 13px;

    /* background-color: #f4f3f3; */
    background-image: linear-gradient(360deg, #66566730 0%, #ffffff 84%);

    border-radius: 60% 40% 40% 20%;
}

.blog-entry.left-side {
    margin-left: 0;
    min-width: 1000px;
    min-height: 8rem;
    border-radius: 0;
    box-shadow: none;
    background-image: none;

}

.blog-entry.left-side .blog-entry-title a {
    font-size: 2.6rem;
    color:#4c384e21;
}

.blog-title {
    letter-spacing: 0.3rem;
}

/* ARTICLE */
.column article  {
    display: flex !important;
    margin-bottom: 2rem;
}

.card-image figure {
    min-width: 400px;
    height: 100%;
}

.blog-entry-content p {
    font-size: 1rem;
    color: #656262e0;
}

.blog_second-column .blog-entry-meta .author a,
time {
    font-size: 0.7rem;
    color: #656262e0;
    margin-left: 3rem !important;
}


.blog-entry-title a {
    color: #4e4c4ce0;
}

.read-more {
    font-size: 0.7rem;
}

.blog_first-column {
    /* display: table-cell;
    vertical-align: top;
    margin-top: 1.5rem;
    margin-right: 2rem;
    width: 70px;
    text-align: center; */
    width: 3rem;
    margin-top: 3.5rem;
    margin-left: 2rem;
}

.blog_first-column .code {
    padding: 0 20px;
    border-right: 1px solid #cecece;
    color:lightslategray;
}

.blog_first-column .code span.code_letters {
    font-weight: 400;
    text-transform: uppercase;
    color:rgb(106, 118, 131);
    font-family: 'Josefin Slab', serif !important;
}

.blog-entry-meta .profile_image_container {
    width: 55px;
    background-color: lightgray;
}

article figure img {
    box-shadow: 3px 2px 12px 0px;

}

.card-image:first-child figure img {
    border-radius: 60% 40% 40% 20%;
    position: absolute;
    left: 5rem;
    /*border-top-left-radius: none !important;*/
    /*border-top-right-radius: none !important;*/
}

.hover01 figure img {
	width: 380px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover01 figure:hover img {
	width: 360px;
}

article.music-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}