/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', 'sans-serif';*/

/*}*/

/*.container {*/
/*    width: 100%;*/
/*    min-height: 100vh;*/
/*    background: #2c2f33;*/
/*}*/

/*.container h2 {*/
/*    color: #ffffff;*/
/*    font-size: 32px;*/
/*    padding: 50px 0;*/
/*    text-align: center;*/
/*}*/

.container.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.container.subscription h2 {
    color: #000;
    font-size: 32px;
    padding: 50px;
    text-align: center;
}

.price-row {
    width: 90%;
    /*max-width: 1100px;*/
    /*margin: auto;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;


}

.price-col {
    padding: 10% 15%;
    color: #000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
        background-color: #f4f3f3;
    background-image: linear-gradient(180deg, rgba(203, 196, 196, 0.42) 0%, #ffffff 84%);
}

.price-col p {
    font-size: 30px;
    color: black;

}

.price-col h3 {
    font-size: 32px;
    margin: 20px 0 40px;
    font-weight: 500;

}

.price-col h3 span {
    font-size: 16px;
    color: black;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #2f2d2d;
    list-style: none;
}


.price-col ul li {
    margin: 1em 0;

}

.price-col ul li:last-child {
    margin-bottom: 3em;

}

.price-col ul li::before {
    content: '\2022';
    color: #2f2d2d;
    font-weight: bold;
    margin-right: 8px;
}

.price-col button {
    background: transparent;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , 20%);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.5s;


}

.price-col button:hover{
    background: #c7c1c1;
}
#navbarMenuHeroA a.navbar-item,
#navbarMenuHeroA a.navbar-item.is-active {
    color: #000000;
}
