.container.playlist {
    height: 100%;
    top: 40%;
    position: absolute;
    right: 0;
    left: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
    border-bottom: 1px solid #cbc6c6;
}

tbody tr {
        /*transition: all .2s ease-in-out;*/
        transition: transform 330ms ease-in-out;

}

tbody tr:hover {
    background-color: whitesmoke;
    transform: scale(1.02);
}


td, th {
  /*border: 1px solid #eeeeee;*/
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 4%);
}

#navbarMenuHeroA a.navbar-item,
#navbarMenuHeroA a.navbar-item.is-active {
    color: #000000;
}


.container-table {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 5% 5%;

}

.containerTable-lblTitle {
    width: 30%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;

}


.containerTable-lblValue {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.11);

    transition: box-shadow .5s, transform .5s, color .5s;
}

