{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- HERO SECTION -->
    <section class="hero is-primary is-medium container is-fluid is-fullheight animation-hero-section">
      <div class="animation-hero-wrapper">
        <div class="animation-hero-caption">
          <div class="leftSide"></div>
          <div class="rightSide"></div>
            <!-- Hero content -->
            <div class="hero-body is-flex-direction-column is-justify-content-center rightInfo">
              <div class="container hero-content has-text-centered is-flex is-flex-direction-column is-justify-content-center">
                  <h1 class="title has-text-centered is-size-3-desktop">Welcome to our website!</h1>
                  <h2 class="subtitle has-text-centered is-size-6-desktop">I am Silviu and this is my project in Django.
                  <br> I have a diverse set of skills, ranging from HTML, CSS, <br>JavaScript, all the way to Python and MySql.
                  </h2>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- LAPTOP SECTION -->
    <div class="container play">
      <h1 class="title play">PRESS PLAY</h1>
    </div>
    <div class="container has-text-centered laptop-section">
      <div class="mockup-macbook loaded opened">
        <div class="part top-macbook">
          <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-top.svg" alt="" class="top-macbook">
          <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg" alt="" class="cover">
          <video autoplay controls>
            {% load static %} <source src="{% static '/media/my_screen.mp4' %}" type="video/mp4">
          </video>
        </div>
        <div class="part bottom-macbook">
          <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg" alt="" class="cover">
          <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-bottom.svg" alt="" class="bottom-macbook">
        </div>
      </div>
      </div>
    </div>
{% endblock %}
