{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/music.css' %}">
    <!-- MUSIC TITLE -->
    <section class="hero is-large music_hero-section">
        <div class="hero-body is-flex is-justify-content-center is-align-items-center">
            <h1 class="title is-size-4 music-title has-text-centered"><span><</span><br>the best place to listen your
                favorite music<br>/></h1>
        </div>
        <!-- SPLASH IMAGE -->
        <img src="{% static '/media/splash.png' %}" class="splash" alt="splash"/>
    </section>
    <!-- SONGS CONTAINER -->
    <div class="container music">
        <div class="columns is-flex-wrap-wrap px-5 music-container">
            <div class="column is-half mb-4 p-4">
                <article class="music-section">
                    {% for song in songs %}
                        <div class="music-entry">
                            <div class="column music_second-column">
                                <!-- MUSIC HEADER -->
                                <header class="music-entry-header">
                                    <h2 class="music-entry-title mt-4"><a href="#"
                                                                          class="is-size-5">{{ song.title }}</a></h2>
                                    <p class="">The Script</p>

                                </header>
                                <!-- MUSIC CONTENT -->
                                <div class="music-entry-content">
                                    <p>Description of the song: {{ song.description }}</p>
                                </div>
                                <!-- MUSIC FOOTER -->

                                <footer class="music-entry-footer row">
                                    <div class="read-more col-md-6">

                                        <div class="dropdown">

                                            <button class="btn btn-secondary dropdown-toggle dropdown-playlist"
                                                    type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">

                                                <i class="fa fa-solid fa-plus ml-3"></i>

                                            </button>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <form method="get" action="{% url 'playlist_create' %}">

                                                    <input type="hidden" name="next" value="{{ request.path }}">
                                                    <input type="hidden" name="song_id" value="{{ song.id }}">
                                                    <button class="dropdown-item"
                                                            type="submit">Create playlist
                                                    </button>
                                                </form>
                                                {% for playlist in playlists %}
                                                    {% if playlist not in song.playlists.all %}
                                                        <form method="post" action="{% url 'add_song_to_playlist' %}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="playlist_id"
                                                                   value="{{ playlist.id }}">
                                                            <input type="hidden" name="song_id" value="{{ song.id }}">
                                                            <button class="dropdown-item"
                                                                    type="submit">{{ playlist.name }}</button>
                                                        </form>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <i class="fa fa-solid fa-play ml-3" onclick="play('{{ forloop.counter0 }}')"></i>
                                        <audio id="{{ forloop.counter0 }}" src="{% if song.file and request.user.is_authenticated %}{{ song.file.url }}{% elif song.sample and not request.user.is_authenticated %}{{ song.sample.url }}{% endif %}">
                                        </audio>
                                        {#<i class="fa fa-solid fa-pause ml-3"></i>#}
                                    </div>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
